
<!--section start-->
<section class=" contact-page section-b-space">
    <div class="container">
        <div class="col">
            <h1>Privacy Policy</h1>
            <!-- <p>Last updated: May 7, 2023</p> -->
            <p>In our quest to serve our customers better, Toosie Pharmacy Limited is dedicated to protecting your
                personal information and shall make every endeavour to handle collected information appropriately.
                All information collected shall be handled with care in accordance with the Nigeria Data Protection
                Regulation 2019 alongside our standards of integrity, objectivity and respect for your privacy.
            </p>
            <p>This information applies to the processing of data on our website and software application (herein
                referred to as site and app respectively), the purposes of processing, the recipients, legal bases,
                storage periods and your rights. Processing simply means collection, use, storage and transmission.
            </p>
            <p>Unless specified otherwise, all Data requested are mandatory and failure to provide this Data may
                make it impossible to access services. In instances where it is specifically stated that Data
                provision isn’t mandatory, the User or accessor of the app or site has the sole discretion not to
                divulge such Data.
            </p>
            <p>Any use of cookies or other tracking tools by the app or site or by owner of third party services
                used by this application serves the purposes of providing the service required by the user. <!-- For
                information on cookies, <a href="#cookies">please read our policy on cookies</a></p> -->
            <h3><a style="color: black;">DATA STORAGE TIME AND ERASURE</a>
            </h3>
            <p>Users or assessors of the app or site are responsible for Data provided to any third party such
                personal Data obtained, published or shared through this app or site and confirm that they have
                granted such consent to the third party where applicable.</p>
            <p>Personal data collected shall be processed and stored for as long as possible for which they were
                collected for. The personal Data of the user shall be erased or processing restricted as soon as the
                purpose of storage ceases to apply, although certain data might be stored to ensure easy access to
                services subject to consent and the Data Protection Regulation. Though further storage shall be
                possible if necessary, the IP addresses of users shall be deleted or made unidentifiable so as to
                make the identification of the user no longer possible. Generally, any data collected by us not
                needed shall not be kept beyond twelve months and a day.
            </p>
            <h3><a style="color: black;">DESCRIPTION AND EXTENT OF DATA PROCESSING</a>
            </h3>
            <p>Each time you access our site or use our app, we as the data controller, collect data automatically
                from the accessing device/ terminal being used. Information collected are;
            </p>
            <ol>
                <li>Information about the browser type and version</li>
                <li>The operating system of the accessing device.
                </li>
                <li>The IP address of the accessing device.
                </li>
                <li>Date and time of access.
                </li>
                <li>Websites from where the user accesses our site.
                </li>
                <li>Contact details of user or assessor of the app or site.
                </li>
                <li> Identification of user or assessor of the app or site.</li>
            </ol>
            <p>In addition, due to the devices (terminals), applications, tools, protocols used by the user or
                assessor, they might be linked to online identifiers such as IP addresses, login trackers (Cookies)
                and other user identifiers. These identifiers can leave traces which may especially if combined with
                unique login details and other information, received by servers, be used to build profiles of the
                users or assessors concerned and to identify them.
            </p>
            <h3><a style="color: black;">PURPOSES OF DATA PROCESSING.</a>
            </h3>
            <p>The temporary storage of the IP address might be necessary to enable the site or app to be delivered
                to the user’s device.

            </p>
            <p>The data is stored in log files to ensure the functionality of the site or app. For this reason the
                IP address shall be stored for the duration of access.</p>
            <h3 id="cookies"><a style="color: black;">USAGE OF COOKIES
                </a></h3>
            <p>The Toosie website uses cookies which are text files stored by the internet browser on the user or
                assessors device or in the internet browser. Users or assessors of the app or site authentication
                information and user interface settings are stored and transmitted in the cookies. Cookies are used
                to make the use of our site and app easy while certain functions on both the app and the site cannot
                be accessed without cookies. The cookies are also used for log-in functions and user interface
                configuration. The user can deactivate or restrict the transmission of cookies by changing the
                settings on the accessing device’s internet browser. Cookies can be erased automatically or manually
                at any time but once deactivated, the usage of all functions on the site or app might not be
                possible. <!-- For more on cookies, <a href="#cookies">please read our policy on cookies</a>. -->
            </p>
            <h3><a style="color: black;"> REGISTRATION </a></h3>
            <p>We offer users the opportunity to register by providing personal data. The data is transmitted to us
                and saved. The data shall not be transmitted to third parties unless with the consent of the
                provider.
            </p>
            <p>Data collected shall include E-mail address, password, the IP address of the user or assessor and the
                date and time of registration.
            </p>
            <p>This registration is necessary for the fulfilment of the contract with the user or assessor of the
                app or site. It is also necessary for the purpose of identifying the user or assessor by creating a
                user account to enable participation. The data collected shall be erased once the user’s account is
                erased. Any data that brings an obligation of storage attached to it due to tax, regulation, enacted
                laws shall be erased after the legal retention and storage periods have lapsed.
            </p>
            <p>The user has the possibility to cancel the registration at any time. If data is required to fulfil an
                obligation condition precedent or not or where there are legal storage obligations, premature
                erasure of data shall be possible only to the extent that such obligations whether contractual or
                legal do not prevent erasures. In our quest to serve our customers better, Toosie Pharmacy Limited
                is dedicated to protecting your personal information and shall make every endeavour to handle
                collected information appropriately. All information collected shall be handled with care in
                accordance with the Nigeria Data Protection Regulation 2019 alongside our standards of integrity,
                objectivity and respect for your privacy.
            </p>
            <p>This information applies to the processing of data on our site and app, the purposes of processing,
                the recipients, legal bases, storage periods and your rights. Processing simply means collection,
                use, storage, transmission.
            </p>
            <p>Within the registration for an account, you also have the possibility to give consent to receive
                notifications by e-mail. You will receive notification like:</p>
            <ol>
                <li>Medical products.
                </li>
                <li> Drug related information.
                </li>
                <li> New contents on the Site or App.
                </li>
                <li>Discount offers on drugs and other medical products though might include general everyday
                    products that are not strictly medical in nature.
                </li>
            </ol>
            <p>You have the option to unsubscribe from notifications via e-mail at any time. If you revoke your
                consent, we will no longer send you notifications. However we will store your email address and the
                prove of your consent for a period of three years starting from when you revoked consent as evidence
                in the event of dispute.
            </p>
            <h3><a style="color: black;">WEB ANALYSIS WITH GOOGLE ANALYTICS.
                </a></h3>
            <p>Our website uses Google Universal analytics service of Google Inc. Google Universal Analytics uses
                cookies to understand how users use the website. The information generated is transferred to Google
                which in turn would evaluate the use of the website by users, to compile reports on the website’s
                activities to enable the provision of further services to the user that are associated with the
                website and the internet. The IP Address transmitted by your browser in the context of Google
                Universal Analytics is not merged with other Google Data.
            </p>
            <p>Cookies are stored on the user or assessor’s device and transmitted to us from there. As the user or
                assessor, you have total control over the use of cookies. You can deactivate or restrict the use of
                cookies by changing the settings in your internet browser to stop accepting cookies or to prompt you
                before accepting cookies. Where cookies are deactivated, it may not be possible to have access to
                all functions.
            </p>
            <p> For further information on Google Universal Analytics especially as to terms of use and data
                protection, use the link below:
                <br> <a href="https://policies.google.com/?hl=en">
                    https://policies.google.com/?hl=en</a>
            </p>

            <h3><a style="color: black;">USE BY CHILDREN</a></h3>
            <p>Use of the Toosie site or app is not intended for minors but adults of the age of eighteen. We hereby
                state that we do and would not knowingly collect information from persons below the age of eighteen.
            </p>
            <h3><a style="color: black;">THIRD PARTY WEBSITES
                </a></h3>

            <p>In your interactions with the site or app, you will have the option to be linked to or directed to or
                might get the option of clicking on a third party website. If this occurs, we cannot control
                information you might provide to such third party and we are not responsible for the usage, storage
                or disclosure of such information once you have provided them to these third parties. We strongly
                advice that you exercise caution before providing such personal information.
            </p>
            <h3><a style="color: black;">CHANGES TO THIS PRIVACY POLICY</a></h3>
            <p>Toosie may make changes from time to time on this privacy policy. This shall be usually done by
                updating the page. Users are advised to visit the privacy policy page regularly to read the version
                prevailing at the time. Notice of these changes shall be sent to you on the site home page or app or
                might be sent to your email of record.
            </p>
            <p>For any difficulty with opting out of any of our services or options related to the application or
                the website, please email us at <a href="mailto:privacy@toosie.com">toosiepharmacylimited@gmail.com</a>
            </p>
            <h3><a style="color: black;">DATA SECURITY
                </a></h3>
            <p>We take the security of personal data deposited with us very seriously. We implement technical,
                material and organisational measures adapted to the level of the sensitivity of the personal data,
                in order to ensure the integrity and confidentiality of the data and to protect the data against any
                malicious intrusion, loss, alteration or disclosure to unauthorised third parties. We carry out
                regular checks to verify security rules are properly applied on an operational level. At the same
                time, the security and confidentiality of personal data is to be ensured by us and the user or
                assessor each playing its own part by we all applying good practices. Please remain vigilant on this
                issue.
            </p>
            <h3><a style="color: black;">RIGHTS OF THE USER OR ASSESSOR</a></h3>
            <p>All users of the app or assessors of the site enjoy the following rights;</p>
            <ul>
                <li>A right to information
                </li>
                <li>A right to access
                </li>
                <li>A right to correction</li>
                <li>A right to deletion (unless the data is required to enable us comply with our legal obligations
                    or to establish or exercise our rights)
                </li>
            </ul>
            <p>In connection with the right of access, we might request the user or assessor to pay reasonable
                charges based on the administrative costs for any additional copy of data to that provided.
            </p>
            <p>The user or assessor also enjoy;</p>
            <ul>
                <li>A right to limitation of processing
                </li>
                <li>A right to portability of data provided</li>
                <li>A right of opposition</li>
            </ul>
            <p>The user or assessor may seek to exercise the right to opposition to the processing of data for
                reasons relating to the specific situation where that processing is based on our legitimate
                interest.</p>
            <p>Where the above right of opposition is exercised, we shall cease to process unless there are
                legitimate imperative reasons that prevail over the user or assessors interests, rights, liberties
                expressly or implied by law or unless required for the establishment, exercise or defence of our
                rights before the courts.
            </p>
            <p>The user or assessor may withdraw consent at any time, whenever consent has been requested
                (withdrawal of consent will not affect the lawfulness of the processing carried out prior to the
                withdrawal of such consent)</p>
            <!-- <p>Where there is an issue as to rights over data, we can be contacted at<a
                    href="mailto:privacy@toosie.com">privacy@toosie.com</a>
            </p> -->
        </div>

    </div>
</section>
<!--Section ends-->
<footer id="footer-section1">
    <div class="container">
        <div class="col">
            <h1>Shipping & Return Policy</h1>
            <h3><a style="color: black;">SHIPPING POLICY</a></h3>
            <p>At Toosie Pharmacy Limited, we are committed to providing you with fast, reliable, and secure delivery of your pharmaceutical and health-related products. We ensure that your medications and health products are delivered to you safely and in a timely manner.</p>

            <a>Processing Time</a>

            <p>Orders are typically processed within 1-2 business days.

Prescription orders may require additional time to verify before shipping.

Orders placed on weekends or public holidays may experience a delay in processing.</p>

<a>Shipping Costs</a>

<p><a>Domestic Orders:</a> Shipping costs are calculated at checkout, based on the delivery address and NOT the size/weight of your order.</p>
    <p><a>International Orders:</a> We currently do not offer international shipping for medications.</p>

<a>Delivery Time</a>

<p><a>Domestic Shipping:</a> Standard shipping takes approximately 1-2 days, depending on your location.</p>

<p><a>Priority Delivery:</a> Priority delivery option is available at checkout for faster delivery, usually within 24h.</p>

<!-- Prescription Orders: Please note that prescription orders may take longer to process due to the verification process required by law. -->

<a>Tracking Your Order</a>

<p>Once your order has been shipped, you will receive on your 'My Orders' page, an order containing an order number (Order No), which will serve as a reference to tract your order.</p>

<a>Shipping Delays</a>

<p>While we do our best to ensure timely delivery, shipping times may be affected by factors beyond our control, including carrier delays and weather conditions. If there are any significant delays, we will notify you as soon as possible.</p>

<h3><a style="color: black;">RETURNS</a></h3>

<a>Return Policy</a>

<p>Your health and satisfaction are our top priority. We understand that sometimes returns are necessary, but due to the nature of pharmaceutical and health-related products, we have specific guidelines for returns and exchanges.</p>


<a>Eligibility for Returns</a>

<p><a>Prescription Medications</a>: Due to health and safety regulations, prescription medications cannot be returned, refunded, or exchanged once they have been accepted.</p>

<p><a>Over-the-Counter (OTC) Products and Non-Prescription Items:</a> We accept returns for unopened and unused OTC products, health supplements, and non-prescription items within 3 days of purchase. The product must be unused, in its original packaging, and in resalable condition.</p>

<p><a>Non-returnable Items</a>: Certain items, including opened medications, and prescriptions, are non-returnable.</p>

<a>How to Return an Item</a>

<p>To initiate a return, please contact our customer support team at toosiepharmacylimited@gmail.com with the following details:</p>

<ul>Order number</ul>
<ul>Product name(s)</ul>
<ul>Reason for return</ul>
<ul>Photos of the product</ul>

<p>If your return is approved, you will be provided with a return authorization and instructions on how to return the product.</p>

<a>Return Shipping Costs</a>

<p>For damaged or defective products, we will provide dispatch to collect the item, or the customer can return directly to the store after return is approved.

For non-defective items, you will be responsible for returning the item.

Prescription medication orders are non-returnable and cannot be refunded unless the wrong medication was dispensed and the medication is unopened.</p>

<a>Refunds</a>

<p>Once your return is received and inspected, we will notify you via email regarding the approval or rejection of your refund.

If approved, the refund will be issued to your original method of payment. Please allow 5-7 business days for the refund to be processed.</p>

<p><a>Prescription Medication Refunds</a>: Prescription medication refunds will only be processed in cases of error in the dispensing of medication or a defective product.</p>

<a>Damaged or Defective Items</a>

<p>If you receive a damaged or defective product, please contact us immediately at toosiepharmacylimited@gmail.com with your order number and photos of the damage. We will provide a full refund or replacement at no additional cost.

If the product is a prescription medication, please contact our customer service team for guidance on returns and potential solutions.</p>

<a>Special Note on Prescription Medications</a>

<p>For safety reasons, prescription medications cannot be returned or exchanged unless they were dispensed incorrectly or are defective.

If you believe there is an issue with your prescription order, please contact us immediately at toosiepharmacylimited@gmail.com, and our customer service team will assist you.</p>

        </div>
    </div>
            
</footer>

<footer id="footer-section2">
    <div class="container">
        <div class="row section-b-space">
            <div class="col">
                <h1>Secure shopping</h1>
                <h3><a style="color: black;">Secure Payment with Paystack</a></h3>
                <p>At Toosie Pharmacy Limited, we prioritize the security and privacy of your financial transactions. We use Paystack, one of the most trusted and secure payment gateways, to process all payments. With Paystack, you can shop with peace of mind knowing your payment details are protected.</p>

                <a>How Paystack Keeps Your Payment Secure:</a>
                <p><a>End-to-End Encryption</a>: All payment transactions on our platform are encrypted using the latest security protocols. Paystack uses SSL encryption to protect your payment data, ensuring that it cannot be intercepted or tampered with.</p>

                <p><a>PCI DSS Compliant</a>: Paystack is fully compliant with the Payment Card Industry Data Security Standard (PCI DSS). This means that Paystack meets the highest level of security standards for processing card payments, safeguarding your sensitive data from unauthorized access.</p>

                <p><a>Secure Payment Options</a>: Paystack offers multiple payment options, including credit and debit card payments, bank transfers, and mobile money. Your payment method is securely handled through their platform, and we never store sensitive payment details.</p>

                <p><a>Two-Factor Authentication (2FA)</a>: Paystack supports Two-Factor Authentication (2FA) to provide an additional layer of security. If you choose to use this feature, Paystack will require you to confirm your identity with a second verification step (such as a one-time password sent to your phone or email).</p>

                <p><a>Fraud Prevention</a>: Paystack uses advanced fraud detection algorithms to protect against suspicious or fraudulent activities. Any payment deemed suspicious will be flagged for review, helping to protect your transaction and the overall security of our platform.</p>

                <a>How to Make a Secure Payment:</a>
                <p><a>Select Your Items</a>:
                    Add your desired products to the cart and proceed to checkout.</p>

<p><a>Choose Paystack as Your Payment Method</a>:
    When you're ready to pay, select Paystack from the available payment options.</p>

<p><a>Complete Your Payment</a>:

    If paying by credit/debit card, you will be redirected to a secure Paystack page to enter your card details.

For bank transfers or mobile money, follow the instructions provided by Paystack on the checkout page.</p>

<p><a>Transaction Confirmation</a>:
    After completing your payment, you will receive an immediate confirmation of your transaction. You’ll also receive a payment receipt via email or SMS as proof of purchase.</p>

    <a>Your Privacy Matters</a>
<p>Your privacy is important to us. We do not share or store any sensitive payment details. Paystack handles all payment processing securely, and all personal information is kept confidential in accordance with our Privacy Policy.</p>

            </div>

        </div>

    </div>
            
</footer>
